<form action="/assurances" method="post">

  <label for="owner">Owner Name: </label>
  <input type="text" name="owner" placeholder="owner's name">

  <label for="phone">Owner Phone: </label>
  <input type="integer" name="phone" placeholder="owner's phone">

  <label for="model">Car Model: </label>
  <input type="text" name="model" placeholder="car model>

  <label for="immatricution">Immatricution: </label>
  <input type="text" name="immatriculation" placeholder="car immatriculation">

  <label for="color">Car Color: </label>
  <input type="text" name="color" placeholder="car color">

  <input type="submit" name="submit" value="submit">

</form>