 <div class= "container">
  <form action="/assurances" method="post">

    <label for="owner">Owner Name: </label>
    <input type="text" name="owner" placeholder="owner's name"><br>

    <label for="phone">Owner Phone: </label>
    <input type="integer" name="phone" placeholder="owner's phone"><br>

    <label for="model">Car Model: </label>
    <input type="text" name="model" placeholder="car model"><br>

    <label for="immatricution">Immatricution: </label>
    <input type="text" name="immatriculation" placeholder="car immatriculation"><br>

    <label for="color">Car Color: </label>
    <input type="text" name="color" placeholder="car color"><br>

    <input type="submit" name="submit" value="submit"><br>

  </form>
  </div>